.footer {
  background-color: black;
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  padding: 30px;
  max-height: 150px;
  overflow: hidden;
  justify-content: space-around;
  height: auto;
    margin-top: auto;
}

.footer > a {
  font-size: 24px;
  color: white;
   width: 100%;
}

.footer > a:not(:last-child) {
  margin-bottom: 12px;
  
}

.footer > a:hover {
  font-size: 24px;
  color: #8f5ac5;
}
